@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__nav-link/_exit/header__nav-link_exit.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__infos/profile__infos.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__case/popup__case.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_photo/popup_photo.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/sign/sign.css);
@import url(./blocks/sign/__input/sign__input.css);
@import url(./blocks/sign/__link/sign__link.css);
@import url(./blocks/sign/__submit/sign__submit.css);
@import url(./blocks/sign/__subtitle/sign__subtitle.css);
@import url(./blocks/sign/__title/sign__title.css);